{% extends "users/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="signup-box">
    <h2>Trainee Signup</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}:</label>
                {{ field|add_class:"input-field" }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn">Sign Up</button>
    </form>

    <div class="signup-footer">
        Already have an account?
        <a href="{% url 'trainee_login' %}">Login</a>
    </div>
</div>
{% endblock %}