{% extends 'users/base.html' %}
{% block title %}Workout Summary{% endblock %}
{% block content %}
<div class="login-box">
    <h2>Workout Summary</h2>
    <ul>
    {% for activity, workout in combined %}
        <li>{{ activity.date }} - {{ activity.trainee.user.username }}: {{ activity.name }} for {{ activity.duration_minutes }} mins</li>
        <li>{{ workout.date }} - {{ workout.trainee.user.username }}: Lifted weights of {{ workout.weight_kg}} in kgs</li>
    {% empty %}
        <li>No activities found.</li>
    {% endfor %}
    </ul>
    <div class="signup-section">
        <a href="{% url 'trainer_dashboard' %}" class="signup-link">Back to Dashboard</a>
    </div>
</div>
{% endblock %}